@model WeddingPlanningReport.Models.WeddingPlan

@section Styles{
    <link href="~/assets/css/demo.css" rel="stylesheet" />
}

<div class="card">
    <h1>Edit</h1>

    <h4>WeddingPlan</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" id="formEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CaseId" />
                <hr />
                <div class="form-group">
                    <label asp-for="MemberId" class="control-label"></label>
                    <input asp-for="MemberId" class="form-control" />
                    <span asp-validation-for="MemberId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WeddingName" class="control-label"></label>
                    <input asp-for="WeddingName" class="form-control" />
                    <span asp-validation-for="WeddingName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Introduction" class="control-label"></label>
                    <textarea asp-for="Introduction" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Introduction" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WeddingTime" class="control-label"></label>
                    <input asp-for="WeddingTime" class="form-control" />
                    <span asp-validation-for="WeddingTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WeddingLocation" class="control-label"></label>
                    <input asp-for="WeddingLocation" class="form-control" />
                    <span asp-validation-for="WeddingLocation" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
