@section Styles
{
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <style>
        .btn-margin {
            margin-right: 5px; /* 調整按鈕之間的間距 */
        }
    </style>
}

<h1>租車明細管理介面</h1>
<p>
    <a asp-action="Create" class="btn btn-success"><i class="fa-solid fa-user-plus mb-3"></i>新增明細</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>rentalId</th>
            <th>memberId</th>
            <th>clientName</th>
            <th>clientPhone</th>
            <th>leaseDate</th>
            <th>returnDate</th>
            <th>rentalTotal</th>
            <th>rentalStatus</th>
            <th>Actions</th> <!-- 新增一個表頭用於動作按鈕 -->
        </tr>
    </thead>
</table>

@section Scripts
{
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("table").dataTable({
                ajax: {
                    type: "GET",
                    url: "/CarRentals/IndexJson",
                    dataSrc: function (json) {
                        return json;
                    },
                },
                columns: [
                    { "data": "rentalId", "width": "10%" },
                    { "data": "memberId", "width": "10%" },
                    { "data": "clientName", "width": "10%" },
                    { "data": "clientPhone", "width": "10%" },
                    { "data": "leaseDate", "width": "10%" },
                    { "data": "returnDate", "width": "10%" },
                    { "data": "rentalTotal", "width": "10%" },
                    { "data": "rentalStatus", "width": "10%" },
                    {
                        // 動作按鈕列
                        "data": null,
                        "render": function (data, type, row) {
                            return `
                         <a href="/CarRentals/Edit/${row.rentalId}" class="btn btn-info btn-margin">Edit</a>
                         <a href="/CarRentals/Details/${row.rentalId}" class="btn btn-secondary btn-margin">Details</a>
                         <a href="/CarRentals/Delete/${row.rentalId}" class="btn btn-danger btn-margin">Delete</a>
                                    `;
                        },
                        "width": "20%"
                    }
                ],
                fixedHeader: {},
                language: {},
                        "initComplete": function (settings, json) {

                }
            });
        });
    </script>
}