@model WeddingPlanningReport.Models.Car

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShopId" class="control-label"></label>
                <input asp-for="ShopId" class="form-control" />
                <span asp-validation-for="ShopId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarName" class="control-label"></label>
                <input asp-for="CarName" class="form-control" />
                <span asp-validation-for="CarName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerCapacity" class="control-label"></label>
                <input asp-for="PassengerCapacity" class="form-control" />
                <span asp-validation-for="PassengerCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalPerDay" class="control-label"></label>
                <input asp-for="RentalPerDay" class="form-control" />
                <span asp-validation-for="RentalPerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarStatus" class="control-label"></label>
                <select asp-for="CarStatus" class="form-control">
                    <option value="">請選擇車輛狀態</option> <!-- 預設選項 -->
                    <option value="可租">可租</option>
                    <option value="不可租">不可租</option>
                    <option value="維修中">維修中</option>
                    <option value="已預訂">已預訂</option>
                </select>
                <span asp-validation-for="CarStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarImg" class="control-label"></label>
                <input type="file" name="file" class="form-control" /> 
                <span asp-validation-for="CarImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarDetail" class="control-label"></label>
                <input asp-for="CarDetail" class="form-control" />
                <span asp-validation-for="CarDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
