@model WeddingPlanningReport.Models.MemberMaterial

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MemberMaterial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MemberMaterialId" />
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberImgName" class="control-label"></label>
                <input asp-for="MemberImgName" class="form-control" />
                <span asp-validation-for="MemberImgName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedLength" class="control-label"></label>
                <input asp-for="EstimatedLength" class="form-control" />
                <span asp-validation-for="EstimatedLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedWidth" class="control-label"></label>
                <input asp-for="EstimatedWidth" class="form-control" />
                <span asp-validation-for="EstimatedWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDelete" class="control-label"></label>
                <input asp-for="IsDelete" class="form-control" />
                <span asp-validation-for="IsDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
