@model WeddingPlanningReport.Models.CakeOrder

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>

</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>
                    <!-- header start  -->
                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb py-1 mb-0 mt-2">
                                <li class="breadcrumb-item"><a href="./Home.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="">會員訂單管理)</a></li>
                                <li class="breadcrumb-item active" aria-current="page">喜餅管理</li>
                            </ol>
                            <div class="row d-block">
                                <h5 class="currentPage">首頁</h5>
                            </div>
                        </nav>

                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">登入者姓名</span>
                                                    <small class="text-muted">Admin</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle">My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bx bx-cog me-2"></i>
                                            <span class="align-middle">Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="login.html">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                    <!-- header end  -->
                </nav>

                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="container-xxl flex-grow-1 container-p-y">

                    <!--  Table start -->
                    <div class="card" style="padding:20px">
                        <h5 class="card-header bg-light bg-gradient ">喜餅訂單管理</h5>
                        <div class="table-responsive text-nowrap">
                            <h1>管理頁面</h1>

                            <h1>創建</h1>

                            <h4>生成新訂單</h4>
                            <hr />
                            <div class="row">
                                <div class="col-md-4">
                                    <form asp-action="Create">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="MemberId" class="control-label"></label>
                                            <input asp-for="MemberId" class="form-control" />
                                            <span asp-validation-for="MemberId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CakeOrderTotal" class="control-label"></label>
                                            <input asp-for="CakeOrderTotal" class="form-control" />
                                            <span asp-validation-for="CakeOrderTotal" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CakeOrderAnnotation" class="control-label"></label>
                                            <input asp-for="CakeOrderAnnotation" class="form-control" />
                                            <span asp-validation-for="CakeOrderAnnotation" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Delivery" class="control-label"></label>
                                            <input asp-for="Delivery" class="form-control" />
                                            <span asp-validation-for="Delivery" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Payment" class="control-label"></label>
                                            <input asp-for="Payment" class="form-control" />
                                            <span asp-validation-for="Payment" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CakeOrderStatus" class="control-label"></label>
                                            <input asp-for="CakeOrderStatus" class="form-control" />
                                            <span asp-validation-for="CakeOrderStatus" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="OrderTime" class="control-label"></label>
                                            <input asp-for="OrderTime" class="form-control" type="datetime-local" />
                                            <span asp-validation-for="OrderTime" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="submit" value="生成訂單" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div>
                                <a asp-action="Index" class="btn btn-info">回到上層</a>
                            </div>


                        </div>
                    </div>
                    <!-- Table end -->
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    
</body>



</html>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
