@model WeddingPlanningReport.Models.ScheduledStaff

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ScheduledStaff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonnelId" />
            <div class="form-group">
                <label asp-for="ScheduleId" class="control-label"></label>
                <input asp-for="ScheduleId" class="form-control" />
                <span asp-validation-for="ScheduleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonnelName" class="control-label"></label>
                <input asp-for="PersonnelName" class="form-control" />
                <span asp-validation-for="PersonnelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssistanceContent" class="control-label"></label>
                <input asp-for="AssistanceContent" class="form-control" />
                <span asp-validation-for="AssistanceContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDelete" class="control-label"></label>
                <input asp-for="IsDelete" class="form-control" />
                <span asp-validation-for="IsDelete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
