@model WeddingPlanningReport.Models.EditingImgFile

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EditingImgFile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EditingImgFileId" />
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditTime" class="control-label"></label>
                <input asp-for="EditTime" class="form-control" />
                <span asp-validation-for="EditTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Screenshot" class="control-label"></label>
                <input asp-for="Screenshot" class="form-control" />
                <span asp-validation-for="Screenshot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgEditingName" class="control-label"></label>
                <input asp-for="ImgEditingName" class="form-control" />
                <span asp-validation-for="ImgEditingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
